* {
    box-sizing: border-box;
}

body {
    color: white;
    background-color: black;
}

#pai {
    background-color: greenyellow;
    width: 80%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.filho {
    background-color: red;
    display: grid;
    justify-items: center;
    grid-gap: 7px;
    padding: 12px 25px;
    border-radius: 15px;
    margin: 20px 2vmax;
    border: 1px solid black;
    box-shadow: 0px 0px 10px -1px black;
    min-width: 15%;
}
.filho input {
    width: 20%;
}