@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    --bg-color: #e6e6e6f5;
    --cor-principal:#7c7c83;
    --cor-escura: #252525;
    --cor-clara: #f7f7f7;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: var(--bg-color);
    font-size: 1.1rem;
}

header {
    background-color: var(--cor-escura);
    font-size: 15px;
    max-height: 8rem;
}

header,.lista, .itens, .itens:hover .menu-suspenso, .conteudo, #filtroPokemons, .botoes-filtro, .separador, .item , #fraquezas, #tipo, #info, #div-name, .lado-esquerdo, .visivel, #explicacaoUm, #explicacaoDois {
    display: flex;
}

header, .itens, #ativar-filtro, .botoes-filtro, .item, .separador, #explicacaoUm, #explicacaoDois {
    align-items: center;
}

header img {
    max-height: 100px;
    object-fit: cover;
    margin-left: 3vmax;
}

nav {
    width: calc(100% - 162.42px);
    z-index: 1;
    color: var(--cor-clara);
}

#botao-menu {
    display: none;
    width: 10%;
    height: 10%;
    color: white;
    background: inherit;
    right: 0;
    padding-right: 3rem;
    top: 1.8rem;
    font-size: 16px;
    border: none;
}

.lista {
    position: relative;
    margin-right: 4vmax;
    justify-content: flex-end;
}

.itens{
    padding:41px 20px;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu-suspenso {
    background: var(--cor-principal);
    position: absolute;
    min-width: 11rem;
    height: 95px;
    margin: 20px 0;
    top: 60%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.id, .tipo-secundario, .invisivel, #ativar-filtro, .menu-suspenso, #selecionar-filtros{
    display: none;
}

.itens:hover .menu-suspenso {
    position: absolute;
  }

.menu-suspenso li {
    margin: 2px auto;
    padding: 7px;
}

.menu-suspenso > li {
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0px 100%, 100% 100%;
    background-size: 0% 5%;
    background-image: linear-gradient(
      rgb(155, 055, 255) 0%,
      rgb(204, 41, 0) 50%
    );
    transition: background-size 0.5s ease-in-out 0.1s;
  }
  
a, .menu-suspenso > li:hover {
    text-decoration: none;
    background-size: 100% 5%;
  }

a { 
    color: white;
}

ul, li {
    list-style: none;
}

#apresentacao {
    margin-top: 5rem;
}

#img-principal {
    display: block;
    margin: 0 auto;
    width: 40%;
}
h1 {
    width: 60%;
    margin: 0 auto;
}

#explicacaoUm, #explicacaoDois {
    position: relative;
    justify-content: space-evenly; 
    margin-bottom: 3rem;
    visibility: hidden;
}

#explicacaoUm img{
    width: 30%;
}

#explicacaoDois img {
    width: 20%;
    margin: 0 10%;
}

#explicacaoUm p, #explicacaoDois p {
    width: 50%;
    padding: 70px;
}

.animacao {
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
	0% {
		opacity: 0;
		transform: translateY(250px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

#explicacaoDois #exemplo-clique {
    width: 3%;
    position: absolute;
    top: 60%;
    right: 28%;
}

.clique-animado {
    animation: clique 3s ease 0s infinite normal forwards;
}

@keyframes clique {
	0% {
        width: 3%;
		transform: translateX(0);
	}

    90% {
        width: 3%;
    }

	100% {
        width: 2.8%;
		transform: translateX(490%);
	}
}

.conteudo {
    position: relative;
    margin-top: 8rem;
}

#ativar-filtro {
    margin-top: 1rem;
    position: absolute;
    left: 2rem;
}

#filtro {
    background: url(/img/svg-filtro-ativo.svg) no-repeat;
    background-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
}

#filtro , label {
    user-select: none;
}

#filtro:hover , label:hover {
    cursor: pointer;
}

#filtroPokemons {
    width: 20%;
    background: var(--bg-color);
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left:  1.5rem;
    border-right: 1px solid rgb(160, 160, 160);
    max-height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    z-index: 1;
}

.bi-arrow-down-short {
    display: none;
}
#filtroPokemons::-webkit-scrollbar{
    width: 1px;
}

#filtroPokemons::-webkit-scrollbar-thumb{
    background: red ;
}

#filtroPokemons::-webkit-scrollbar-thumb:hover{
    background: #e96666 ;
}

#buscarPokemon {
    width: 80%;
    padding: 10px;
    margin: 2rem 0;
}

.botoes-filtro {
    border: none; 
    background: none;
    height: 2rem;
    margin-bottom: 2rem; 
    width: 50%;
    opacity: 0.4;
    z-index: 1;
    filter: brightness(0);
    height: 20%;
    justify-content: flex-start;
    text-transform: capitalize;
}

.ativo {
    filter: brightness(1);
    opacity: 1;
}

.botoes-filtro:hover{
    opacity: 1;
    cursor: pointer;
    filter: brightness(1);
}

.svg-filtro {
    margin: 0 1rem 0 0.2rem;
}

#loading {
    width: 5rem;
    position: absolute;
    height: 5rem;
    margin: auto;
    left: 20%;
    right: 0;
    top: 15rem;
    z-index: 2;
    border: 5px solid #6f759b;
    border-top-color: red;
    border-radius: 40px;
    transform: scale(4);
    animation: load 2s infinite;
}

@keyframes load {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

#lista-pokemons {
    background-color: inherit;
    width: 70%;
    margin:0 0 150px 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    transition: 0.5s;
    opacity: 0;
}

.pokemons {
    position: relative;
    display: grid;

    justify-items: center;
    grid-gap: 7px;
    border-radius: 18px;
    margin: 20px 1vmax;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 1px #878788;
    width: 75%;
    text-transform: capitalize;
    background: white;
    cursor: pointer;
    user-select: none;
    max-height: 19rem;
    font-weight: 500;
}

.pokemons:hover {
    box-shadow: 0px 1px 8px 2px #7c7c83;
}

.svg-pokemon {
    position: absolute;
    max-width: 10%;
    right:10%;
    top: 3%;
}

.icone-favoritos {
    position: absolute;
    max-width: 10%;
    left: 3%;
    top: 8%;
    opacity: 0.7;
    cursor: pointer;
}
.pokemons span {
    padding-bottom: 15px;
}

.pokemons img {
    width: 80%;
    padding-top: 8px;
}
.pokemons input {
    width: 30%;
}

.grass {
    border: 3px solid #2db42d;
    color: #2db42d;
}
.fire {
    border: 3px solid #ff3434;
    color: #ff3434;
}
.water {
    border: 3px solid #88A3D4;
    color: #88A3D4;
}
.bug {
    border: 3px solid #9BBA48;
    color: #9BBA48;
}
.normal {
    border: 3px solid #a0a29f;
    color: #a0a29f;
}
.poison {
    border: 3px solid #AC6ACA;
    color: #AC6ACA;
}
.electric {
    border: 3px solid #ffce30;
    color: #ffce30;
}
.ground {
    border: 3px solid #CE8056;
    color: #CE8056;
}
.fairy {
    border: 3px solid #d9a7d9;
    color: #d9a7d9;
}
.fighting {
   border: 3px solid #C44D61;
   color: #C44D61;
}
.psychic {
    border: 3px solid #EB8B85;
    color: #EB8B85;
}
.rock{
    border: 3px solid #8BCEC1;
    color: #8BCEC1;
}
.ghost {
    border: 3px solid #616EB7;
    color: #616EB7;
}
.ice {
    border: 3px solid #8BCEC1;
    color: #8BCEC1;
}
.steel {
    border: 3px solid #6E9AA7;
    color: #6E9AA7;
}
.dark {
    border: 3px solid #3c3a41;
    color: #3c3a41;
}
.dragon {
    border: 3px solid #2C6AC1;
    color: #2C6AC1;
}
.flying {
    border: 3px solid #A6BBE8;
    color: #A6BBE8;
}

#modal {
    display: none;
    width: 60%;
    max-height: 38rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
    transition: 1s;
    text-transform: capitalize;
    box-shadow: 0px 1px 10px 4px var(--cor-principal);
}

#close-modal {
    width: 5%;
    height: 8%;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.lado-esquerdo {
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 30%;
    border-radius: 14px 0 0 14px;
}

#svg-modal {
    width: 2rem;
    height: 2rem;
    background: ghostwhite;
    padding: 4px;
    border-radius: 20px;
    margin: 2rem 2rem 0 0;
}

#img-modal {
    max-width: 120%;
    margin-top: 6rem;
    position: relative;
    left: 2vmax;
}

.lado-direito {
    background: var(--cor-clara);
    width: 70%;
    font-size: 16px;
    border-radius: 0 14px 14px 0;
    padding: 1.5rem 1rem 2rem 2.2rem;
}

h3, h4 {
    font-weight: 700;
}

#id-pokemon {
    color: var(--cor-principal);
    opacity: 0.6;
}

#div-name {
    align-items: baseline;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#tipo, #info {
    margin-bottom: 1.3rem;
}

h2 {
    font-weight: bolder;
    font-size: 2.3rem;
    margin-right: 1rem;
}

#fraquezas {
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.tag {
    background: #fdfdfd;
    padding: 0 1.1rem;
    margin: 5px 2px;
    font-weight: bolder;
    font-size: 1.1rem;
    border: none;
}

#info {
    justify-content: space-between;
}

#info li span {
    display: block;
    margin-bottom: 0.4rem;
}

h3 {
    margin-bottom: 1rem;
}

h4 {
    margin-bottom: 1rem;
}

.item {
    margin-bottom: 0.8rem;
}

.item span {
    width: 3rem;
    margin-right: 2rem;
}

.bar-status {
    position: relative;
    width: 100%;
    max-width: 21rem;
    overflow: hidden;
    background-color: #d8d7d7;
}

.separador {
    position: absolute;
    width: 100%;
    height: 100%;
    justify-content: space-evenly;
}

.separador li {
    width: 4px;
    height: inherit;
    background-color: #ffffff;
}

.bar {
    width: 100%;
    height: 1rem;
    background: red;
}

#carregar {
    position: absolute;
    border: 1px solid var(--cor-escura);
    color: var(--cor-escura);
    background: var(--cor-clara);
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    height: 3rem;
    margin: 50px 52%;
    width: 20%;
    font-weight: 700;
}

#carregar:hover {
    color: var(--cor-clara);
    background: var(--cor-escura);
    cursor: pointer;
    box-shadow: 2px 0px 1px 1px var(--cor-escura);
}

@media screen and (max-width: 1112px)  {
    #hp {
        margin-right: 2.8rem;
    }
}

@media screen and (max-width: 1084px) {
    #fraquezas {
        margin-bottom: 0;
    }

    .pokemons {
        max-height: 15rem;
    }
}

@media screen and (max-width: 970px) {
    body {
        font-size: 14px;
    }
    .pokemons {
        width: 90%;
    }

    .itens:hover .menu-suspenso {
        align-items: center;
        justify-content: space-evenly;
    }

    .menu-suspenso > li {
        margin: 0;
        padding: 0 0 5px 0;
    }
}

@media screen and (max-width: 803px) {
    #div-name, .div-item {
        margin-bottom: 0rem;
    }

    #tipo {
        margin-bottom: 0.5rem;
    }

    #img-modal {
        max-width: 130%;
        left: 4vmax;
    }

    .pokemons {
        max-height: 13rem;
    }
}

@media screen and  (max-width: 690px)  {
    #hp {
        margin-right: 3rem;
    }
}

@media screen and (max-width: 650px) {

    #img-modal {
        width: 35%;
        left: 0;
        margin: 2rem 0 0 3rem;
    }

    #svg-modal {
        left: 5rem;
        margin:0;
        position: absolute;
        width: 2rem;
        height: 2rem;
    }

    #modal {
        width: 100%;
        height: 100%;
        max-height: 100%;
        flex-direction: column;
        margin: 0;
        border-radius: 40px;
    }

    .lado-esquerdo {
        flex-direction: row;
        width: 100%;
        justify-content: center;
        align-items: center;
        height: 25%;
        border-radius: 20px 20px 0 0;
    }

    .lado-direito {
        width: 100%;
        height: 75%;
        padding: 1rem 2rem;
        border-radius: 0;
    }

    #fraquezas {
        margin-bottom: 0.1rem;
    }

    h3 {
        margin-bottom: 0.5rem;
    }

    #tipo, #info {
        margin-bottom: 0.3rem;
    }

    .item {
        margin-bottom: 0.4rem;
    }

    #info li span {
        margin-bottom: 0.1rem;
    }

    #hp {
        margin-right: 2.01rem;
    }

    .bar-status {
        max-width: 28rem;
    }

    #filtroPokemons {
        padding-left: 0;
    }

    #buscarPokemon {
        margin: 2rem auto;
    }

    #explicacaoUm {
        margin-bottom: 0;
    }

    #ativar-filtro {
        display: flex;
        left: 8rem;
    }

    #lista-pokemons {
        width: 90%;
        margin-top: 50px;
    }

}

@media screen and (max-width: 602px) {

    body {
        font-size: 12px;
    }
    #hp {
        margin-right: 2.4rem;
    }

    .conteudo {
        margin-top: 0;
    }

    #filtroPokemons {
        width: 20%;
        position: relative;
        padding-left: 0;
        display: flex;
    }

    #buscarPokemon {
        margin: 2rem auto;
    }

    #img-modal {
        width: 45%;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {

    body {
        font-size: 10px;
    }

    header {
        justify-content: space-between;
    }
    nav {
        width: auto;
    }

    header img {
        margin: 0;
    }

    .lista {
        display: flex;
        position: absolute;
        justify-content: flex-end;
        flex-direction: column;
        background: var(--cor-escura);
        margin-right: 0;
        top: 6rem;
        right: 0;
        height: 0;
        overflow: hidden;
        transition: height 0.4s ease 0s;
    }

    .menu-suspenso {
        top: 0rem;
        min-width: 8rem;
        right: 1rem;
    }

    #menuDois {
        top: 6rem;
    }

    #botao-menu {
        display: flex;
    }

    #icon {
        display: none;
    }

    #ativar-filtro {
        display: none;
    }

    .bi-arrow-down-short {
        display: flex;
        position: absolute;
        top: 1rem;
        right: 6rem;
    }

    #filtroPokemons {
        display: none;
        position: absolute;
        width: 70%;
        margin: auto;
        top: 3rem;
        right: 0;
        left: 0;
        height: 200px;
        border: 1px solid;
    }

    #selecionar-filtros {
        display: flex;
        position: absolute;
        width: 70%;
        height: 3rem;
        padding: 5px 3rem;
        border-radius: 0px;
        border: 1px solid black;
        margin: auto;
        left: 0;
        right: 0;
        top: 0;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        z-index: 2;
        pointer-events: all;
    }

    .botoes-filtro {
        filter: brightness(1);
        opacity: 1;
        width: 100%;
        height: 100%;
        z-index: 2;
        margin: 0 0 1rem 1rem ;
        padding: 0.6rem;
        font-size: 15px;
    }

    #lista-pokemons {
        margin-top: 7rem;

    }

    #loading {
        left: 0;
    }

    #explicacaoUm p, #explicacaoDois p {
        padding: 50px;
    }

    #carregar {
        margin: 50px auto;
    }

    .lado-direito {
        height: 85%;
    }

    .lado-esquerdo {
        height: 15%;
    }

    #img-modal {
        width: 30%;
    }
}

@media screen and (max-width: 400px) {
    #lista-pokemons {
        margin: 0 auto;
        grid-template-columns: none;
        font-size: 14px;
        top: 5rem;
        position: relative;
    }

    .pokemons {
        width: 80%;
    }

    #svg-modal {
        left: 2rem;
    }


    .pokemons img {
        width: 50%;
        padding-top: 0;
    }

    #explicacaoUm {
        margin: 2.5rem 0 1rem 0;
    }

    #explicacaoDois {
        margin-bottom: 5rem;
    }

    #explicacaoDois #exemplo-clique {
        top: 52%;
    }

    #explicacaoUm p, #explicacaoDois p {
        padding: 20px;
    }

    .conteudo {
        flex-direction: column;
    }

    #carregar {
        position: relative;
        margin-top: 6rem;
        width: 40%;
    }

    .lado-direito {
        height: 90%;
    }

    .lado-esquerdo {
        height: 10%;
    }
}
