@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

* {
    box-sizing: border-box;
}

html {
    --bg-color: #e6e6e6f5;
    --cor-principal:#7c7c83;
    --cor-escura: #252525;
    --cor-clara: #f7f7f7;
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: var(--bg-color);
    font-size: 1.1rem;
}

header {
    background-color: var(--cor-escura);
    display: flex;
    align-items: center;
    font-size: 15px;
}


header img {
    max-height: 100px;
    object-fit: cover;
    margin-left: 3vmax;
}

nav {
    width: calc(100% - 162.42px);
    z-index: 1;
    color: var(--cor-clara);
}

.lista {
    display: flex;
    position: relative;
    margin-right: 4vmax;
    justify-content: flex-end;
}

.itens{
    padding:41px 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.menu-suspenso {
    background: var(--cor-principal);
    position: absolute;
    width: 15vmax;
    height: 95px;
    display: none;
    margin: 20px 0;
    top: 60%;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
}

.itens:hover .menu-suspenso {
    display: flex;
    position: absolute;
  }

.menu-suspenso li {
    margin: 2px auto;
    padding: 7px;
    
}

.menu-suspenso > li {
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 0px 100%, 100% 100%;
    background-size: 0% 6%;
    background-image: linear-gradient(
      rgb(155, 055, 255) 0%,
      rgb(204, 41, 0) 50%
    );
    transition: background-size 0.5s ease-in-out 0.1s;
  }
  
a, .menu-suspenso > li:hover {
    text-decoration: none;
    background-size: 100% 7%;
  }

a { 
    color: white;
}

ul, li {
    list-style: none;
}

.conteudo {
    display: flex;
    position: relative;
}

#filtroPokemons {
    width: 20%;
    background: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left:  1.5rem;
    border-right: 1px solid rgb(160, 160, 160);
    max-height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: scroll;
}


#filtroPokemons::-webkit-scrollbar{
    width: 1px;
}

#filtroPokemons::-webkit-scrollbar-thumb{
    background: red ;
}

#filtroPokemons::-webkit-scrollbar-thumb:hover{
    background: #e96666 ;
}

#buscarPokemon {
    width: 80%;
    padding: 10px;
    margin: 2rem 0;
}

.botoes-filtro {
    border: none; 
    background: none;
    height: 2rem;
    margin-bottom: 2rem; 
    width: 50%;
    opacity: 0.4;
    filter: brightness(0);
    display: flex;
    height: 20%;
    align-items: center;
    justify-content: flex-start;
    text-transform: capitalize;
}

.ativo {
    filter: brightness(1);
    opacity: 1;
}

.botoes-filtro:hover{
    opacity: 1;
    cursor: pointer;
    filter: brightness(1);
}

.svg-filtro {
    margin: 0 1rem 0 0.2rem;
}

#lista-pokemons {
    background-color: inherit;
    width: 70%;
    margin: 50px 0 150px 6%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}

.pokemons {
    position: relative;
    display: grid;
    justify-items: center;
    grid-gap: 7px;
    border-radius: 18px;
    margin: 20px 1vmax;
    border: 1px solid black;
    box-shadow: 0px 0px 5px 1px #878788;
    width: 70%;
    text-transform: capitalize;
    background: white;
    cursor: pointer;
    user-select: none;
    max-height: 18rem;
    font-weight: 500;
}

.pokemons:hover {
    box-shadow: 0px 1px 8px 2px #7c7c83;
}

.svg-pokemon {
    position: absolute;
    max-width: 10%;
    right:10%;
}

.id, .tipo-secundario, .invisivel {
    display: none;
}

.pokemons span {
    padding-bottom: 15px;
}

.pokemons img {
    width: 80%;
    padding-top: 8px;
}
.pokemons input {
    width: 30%;
}

.grass {
    border: 3px solid #2db42d;
    color: #2db42d;
}
.fire {
    border: 3px solid #ff3434;
    color: #ff3434;
}
.water {
    border: 3px solid #398efb;
    color: #398efb;
}
.bug {
    border: 3px solid greenyellow;
    color: greenyellow;
}
.normal {
    border: 3px solid #d8bc76;
    color: #d8bc76;
}
.poison {
    border: 3px solid #6e2bb5;
    color: #6e2bb5;
}
.electric {
    border: 3px solid #d1ce00;
    color: #d1ce00;
}
.ground {
    border: 3px solid #555400;
    color: #555400;
}
.fairy {
    border: 3px solid #ff5ecf;
    color: #ff5ecf;
}
.fighting {
   border: 3px solid #af0000;
   color: #af0000;
}
.psychic {
    border: 3px solid #a13b82;
    color: #a13b82;
}
.rock{
    border: 3px solid #b1a667;
    color: #b1a667;
}
.ghost {
    border: 3px solid #424242;
    color: #424242;
}
.ice, .flying {
    border: 3px solid #83c5c9;
    color: #83c5c9;
}
.dragon {
    border: 3px solid #1c4547;
    color: #1c4547;
}

#modal {
    display: flex;
    width: 60%;
    max-height: 38rem;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 20px;
    z-index: -1;
    opacity: 0;
    transition: 1s;
    text-transform: capitalize;
    box-shadow: 0px 1px 10px 4px var(--cor-principal);
}

#close-modal {
    width: 5%;
    height: 8%;
    position: absolute;
    right: 1rem;
    top: 1rem;
    color: black;
    background: none;
    border: none;
    cursor: pointer;
}

.lado-esquerdo {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    width: 30%;
    border-radius: 14px 0 0 14px;
}

#svg-modal {
    width: 2rem;
    height: 2rem;
    background: ghostwhite;
    padding: 4px;
    border-radius: 20px;
    margin: 2rem 2rem 0 0;
}

#img-modal {
    max-width: 100%;
    margin-top: 6rem;
    position: relative;
    left: 2vmax;
}

.lado-direito {
    background: var(--cor-clara);
    width: 70%;
    font-size: 16px;
    border-radius: 0 14px 14px 0;
    padding: 1.5rem 1rem 2rem 2.2rem;
}

h3, h4 {
    font-weight: 700;
}

#id-pokemon {
    color: var(--cor-principal);
    opacity: 0.6;
}

#div-name {
    display: flex;
    align-items: baseline;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#tipo, #info {
    display: flex;
    margin-bottom: 1.3rem;
}

h2 {
    font-weight: bolder;
    font-size: 2.3rem;
    margin-right: 1rem;
}

#fraquezas {
    display: flex;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.tag {
    background: #fdfdfd;
    padding: 0 1.1rem;
    margin: 5px 2px;
    font-weight: bolder;
    font-size: 1.1rem;
    border: none;
}

#info {
    justify-content: space-between;
}

#info li span {
    display: block;
    margin-bottom: 0.4rem;
}

h3 {
    margin-bottom: 1rem;
}

h4 {
    margin-bottom: 1rem;
}

.item {
    display: flex;
    align-items: center;
    margin-bottom: 0.8rem;
}

.item span {
    width: 3rem;
    margin-right: 2rem;
}

@media (max-width: 1112px)  {
    #hp {
        margin-right: 2.8rem;
    }
}

@media (max-width: 690px)  {
    #hp {
        margin-right: 3rem;
    }
}

.bar-status {
    position: relative;
    width: 100%;
    max-width: 21rem;
    overflow: hidden;
    background-color: #d8d7d7;
}

.separador {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.separador li {
    width: 4px;
    height: inherit;
    background-color: #ffffff;
}

.bar {
    width: 100%;
    height: 1rem;
    background: red;
}

#carregar {
    position: absolute;
    border: 1px solid var(--cor-escura);
    color: var(--cor-escura);
    background: var(--cor-clara);
    margin: auto;
    right: 0;
    left: 0;
    bottom: 0;
    height: 3rem;
    margin: 50px 52%;
    width: 20%;
    padding: 7px;
    font-weight: 700;
}

#carregar:hover {
    color: var(--cor-clara);
    background: var(--cor-escura);
    cursor: pointer;
    box-shadow: 2px 0px 1px 1px var(--cor-escura);
}

